/* Boilerplate CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1 rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1;
  color: black;
  overflow-x: hidden;
  background-color: #cecece; /*margin color*/
}

/*Structure*/

.content-wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.dynamic-content {
  background-color: #f4f4f4; /* Light grey background */
  margin: 20px 0; /* Some margin at the top and bottom */
  padding: 20px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  /* Adjust width as needed, you can use flexbox or grid in parent to handle this more elegantly */
  width: 70%;
  float: right; /* Align to the right */
  height: 300px; /* Or any desired height */
  overflow-y: auto; /* Allow vertical scrolling */
}

.title {
  margin: auto;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.date-time {
  margin: auto;
  text-align: right;
  width: 100%;
  padding: 5px;
}

/* BUTTONS */

.hide-show-button-menu-header button {
  display: block;
  width: 25%;
}

.hide-show-button-menu-header {
  padding-top: 10px;
}

.menu-header,
.menu-btn {
  background-color: #04aa6d;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

.nav-link-btns button {
  background-color: #04aa6d; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 25%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.nav-link-btns button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.nav-link-btns button:hover {
  background-color: #3e8e41;
}

.hide-show-button-menu-header button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.hide-show-button-menu-header button:hover {
  background-color: #3e8e41;
}
